#error-page {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    

    .error-header {
        grid-area: 1 / 1 / 5 / 4;
        background: $clr-brand;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header__text {

            h1 {
                font-size: 12em;
                display: block;
                text-align: center;
            }
    
            .error__sub {
                text-align: center;
                font-size: 5em;
                text-transform: uppercase;
            }

        }

    }
    .error__text {
        grid-area: 1 / 4 / 5 / 9;
        padding: 3em;
        background: $clr-black;
        color: $clr-white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5em;

        p {
            text-align: center;
            display: block;
            font-size: 1.5em;
        }
    }
}