footer {
  display: flex;
  background: $clr-darkGrey;
  justify-content: center;

  div {
    display: none;
  }

  img {
    width: 100px;
    padding: 1.3em 0;
  }

  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-around;
    padding: 3em 0;
    align-items: center;
    color: $clr-white;

    div {
      display: inline;
    }

    ul,
    li,
    span {
      font-family: "Lato", sans-serif;
      padding: 0.3em;
    }

    .titulo {
      font-weight: 900;
      font-size: 1.5em;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }
}
