$cells: main-left, upper, middle-left, middle-right, bot;

$grid-position: ("main-left": 1 #{"/"} 1 #{"/"} 4 #{"/"} 4, "upper": 1 #{"/"} 4 #{"/"} 2 #{"/"} 6, "middle-left": 2 #{"/"} 4 #{"/"} 3 #{"/"} 5, "middle-right": 2 #{"/"} 5 #{"/"} 3 #{"/"} 6, "bot": 3 #{"/"} 4 #{"/"} 4 #{"/"} 6);

.project__gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    height: unset;
    box-shadow: none;
    gap: 1.2em;

    @media (min-width: 890px) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      height: 80vh;

      box-shadow: -1px 12px 34px -17px rgba(0, 0, 0, 0.92);
    }

    div {
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }


    @each $cell in $cells {
        .project__gallery-grid__#{$cell} {
            grid-area: unset;
        }
        }

        @media (min-width: 890px) {
            @each $cell in $cells {
                .project__gallery-grid__#{$cell} {
                    grid-area: map-get($grid-position, $cell);
                }
            }
        }   



  @media (min-width: 900px) {
    .view-image {
      font-family: "Lato", sans-serif;
      font-size: 1.7em;
      font-weight: 800;
      text-transform: uppercase;
  }

    .bg,
    .overlay {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img,
    .overlay {
      transition: .3s all;
      border-radius: 3px;
    }

    .bg {
      position: relative;
      img {
        width: 100%;
        margin-bottom: -4px;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        opacity: 0;
      }
      &:hover {
        .overlay {
          opacity: 1;
        }
        img {
          object-fit: cover;
          filter: blur(.3rem);
        }
      }
    }
  }


}
