@mixin btn {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    cursor: pointer;
    text-transform: uppercase;
}


.btn-main_lg{
    @include btn;
    color: $clr-white;
    background-color: $clr-brand;
    border: 0.15em solid $clr-brand;
    text-align: center;
    padding: 1.3em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-brand;
      }
}

.btn-main_md {
    @include btn;
    color: $clr-white;
    background-color: $clr-brand;
    border: 0.15em solid $clr-brand;
    text-align: center;
    padding: .8em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-brand;
      }
}

.btn-main_sm {
    @include btn;
    color: $clr-white;
    background-color: $clr-brand;
    border: 0.15em solid $clr-brand;
    text-align: center;
    padding: .5em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-brand;
      }
}

.btn-outline-main_lg {
    @include btn;
    color: $clr-brand;
    border: 0.15em solid $clr-brand;
    padding: 1.3em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-black;
        color: $clr-white;
        border: 0.15em solid $clr-black;
      }
}

.btn-outline-main_md {
    @include btn;
    color: $clr-brand;
    border: 0.15em solid $clr-brand;
    padding: .8em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-black;
        color: $clr-white;
        border: 0.15em solid $clr-black;
      }
}

.btn-outline-main_sm {
    @include btn;
    color: $clr-brand;
    border: 0.15em solid $clr-brand;
    padding: .5em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-black;
        color: $clr-white;
        border: 0.15em solid $clr-black;
      }
}

.btn-white_lg {
    @include btn;
    color: $clr-brand;
    background-color: $clr-white;
    border: 0.15em solid $clr-white;
    padding: 1.3em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-brand;
        color: $clr-black;
      }
}

.btn-white_md {
    @include btn;
    color: $clr-brand;
    background-color: $clr-white;
    border: 0.15em solid $clr-white;
    padding: .8em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-black;
      }
}

.btn-white_sm {
    @include btn;
    color: $clr-brand;
    background-color: $clr-white;
    border: 0.15em solid $clr-white;
    padding: .5em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-brand;
        color: $clr-white;
      }
}

.btn-outline-white_lg {
    @include btn;
    color: $clr-white;
    border: 0.15em solid $clr-white;
    padding: 1.3em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-brand;
        color: $clr-white;
        border: 0.15em solid $clr-brand;
      }
}

.btn-outline-white_md {
    @include btn;
    color: $clr-white;
    border: 0.15em solid $clr-white;
    padding: .3em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-brand;
        color: $clr-white;
        border: 0.15em solid $clr-brand;
      }
}

.btn-outline-white_sm {
    @include btn;
    color: $clr-white;
    border: 0.15em solid $clr-white;
    padding: .5em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-brand;
        color: $clr-white;
        border: 0.15em solid $clr-brand;
      }
}

.btn-black_lg {
    @include btn;
    color: $clr-white;
    background-color: $clr-black;
    border: 0.15em solid $clr-black;
    padding: 1.3em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-black;
      }
}

.btn-black_md {
    @include btn;
    color: $clr-white;
    background-color: $clr-black;
    border: 0.15em solid $clr-black;
    padding: .8em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-black;
      }
}

.btn-black_sm {
    @include btn;
    color: $clr-white;
    background-color: $clr-black;
    border: 0.15em solid $clr-black;
    padding: .5em;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
        box-shadow: inset 0px 0px 30px 45px $clr-white;
        color: $clr-black;
      }
}