* {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img,
video,
svg {
    max-width: 100%;
    height: auto;
}


textarea:focus, input:focus{
    outline: none;
}


section {
    padding: 2em 0;
  }